body {
    margin: 0;
    /* padding: 0; */
    background-color: rgb(67, 155, 79);
}

.app {
    width: 100vw;
    height: 100vh;
}

.newline {
    clear: left;
}

.deck-slot {
    float: left;
    width: 150px;
    height: 200px;
}

.pile-slot {
    float: left;
    width: 150px;
    height: 200px;
}

.card-gap {
    float: left;
    width: 150px;
    max-width: 150px;
    height: 200px;
    max-height: 200px;
}

.card-gap-half {
    float: left;
    width: 75px;
    max-width: 75px;
    height: 200px;
    max-height: 200px;
}

.card-spacer {
    float: left;
    width: 20px;
    max-width: 20px;
    height: 200px;
    max-height: 200px;
}

.card-slot {
    float: left;
    width: 150px;
    max-width: 150px;
    height: 200px;
    max-height: 200px;
    border-radius: 10%;
}


.empty-card-slot {
    border: 1px solid black;
}

.board-stats-part {
    padding: 15px 0px 0px 20px;
}

.board {
    width: 98.5vw;
    height: 96.5vh;
    border: 1px solid black;
    display: block;
    padding: 0px 00px 40px 15px;
    margin-left: 0;
}

.draw-deck-container {
    grid-area: draw-deck-container-area;
}

.solution-slot-container {
    grid-area: solution-slot-container-area;
}

.unsolved-slot-container {
    grid-area: unsolved-slot-container-area;
}


.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.center {
    margin:auto;
}

.block {
    height:100px;
    width:200px;
    text-align:left;
}

.flip180 {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);	 /*  for IE  */
    /* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
    -webkit-transform: rotate(180deg);
}

.hide {
    display: none;
}

.clickable {
    cursor: pointer;
}

.unclickable {
    cursor: not-allowed;
}

::selection {
    background-color: transparent;
}

.card {
    /* position: absolute; */
    width: 150px;
    max-width: 150px;
    height: 200px;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 10%;
    /* padding: 5px 5px 5px 5px; */
    overflow: hidden;
}

.card span {
    padding: 5px 5px 5px 5px;
}

.card-facing-front {
    background-color: white;
}

.card-facing-back {
    background-image: url("../img/deck.webp");
    background-size: cover;
}

.card-design-back {
    position: relative;
    /* background-color: teal; */
    background-image: url("../img/deck.webp");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* Fix contrast and blurry downscaling issues in Chrome. */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    z-index: 1;
}

.heart {
    color: rgb(253, 32, 32);
}

.diamond {
    color: rgb(253, 32, 32);
}

.club {
    color: black;
}

.spade {
    color: black;
}

.card-design {
    position: relative;
    width: 100%;
    height: 100%;
    text-align:center;
    font-size: 3ex;
    border-radius: 10%;
}
.card-center-symbol {
    font-size: 16ex;
}