body {
    margin: 0;
    background-color: rgb(67, 155, 79);
}

.board {
    /* display: block; */
    
    /* width: 100vw;
    height: 100vh; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 20px 1fr;
    /* grid-template-areas: 'board-top-part'
                         'spacer-area'
                         'board-bottom-part'; */
}

.board-spacer {
    /* background-color: darkgoldenrod; */
    /* width: 300px; */
    /* height: 20px; */
    /* margin: 0; */
}

.board-top-part {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px 170px;
    grid-template-rows: 1fr;
    grid-template-areas: 'draw-deck-container-area solution-slot-container-area';
    /* background-color: brown; */
}

.board-bottom-part {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px 170px;
    grid-template-rows: 1fr;
    grid-template-areas: 'draw-deck-container-area solution-slot-container-area';
    /* background-color: cornflowerblue; */
}

.draw-deck-container {
    grid-area: draw-deck-container-area;
}

.solution-slot-container {
    grid-area: solution-slot-container-area;
}

.unsolved-slot-container {
    grid-area: unsolved-slot-container-area;
}

.card-slot {
    margin: 0;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10%;
}

.card-gap {
    margin: 0;
    width: 150px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10%;
}

/* .card-design {
    text-align: justify;
    font-size: 20.3vw;
    top: 0;
    padding: 0;
    margin: 0;
}

.card-design:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
} */

.card-design {
    position: relative;
    /* padding: 25px; */
    /* padding-right: -90px; */
    width: 95%;
    height: 95%;
    text-align:center;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.center {
    /* position: absolute; */
    margin:auto;
    /* top: 50;
    left: 50;
    right: 50;
    bottom: 50; */
}

.block {
    height:100px;
    width:200px;
    text-align:left;
}

.card-center-symbol {
    margin:auto;
    font-size: 20ex;
}